{% extends 'base.html' %}
{% block TITLE %}Users list{% endblock TITLE %}
{% block BODY %}


<section class="py-5 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Users List</h1>
        <p class="lead text-body-secondary">Список пользователей и сотрудников</p>
        <p class="lead text-body-secondary">!!! Доступен для суперюзера и менеджерам с правами !!!</p>
      </div>
    </div>
  </section>
<br>

<div class="scroll" style="width: 250rex; height: 85rex; overflow-x: auto; overflow-y: auto;"> 
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h1>Users</h1>
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>pk</th>
                <th>username</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>groups</th>
                <th>home_address</th>
                <th>telephone_number</th>
                <th>delivery_adress</th>
                <th>status</th>
                <th>order</th>
                
            </tr>
            {%for obj in object_list%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{obj.pk}}</td>
                <td>{{obj.username}}</td>
                <td>{{obj.first_name}}</td>
                <td>{{obj.last_name}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.groups.first}}</td>
                <td>
                {%for pers in person_list%}
                  {% if pers.user.username == obj.username %}{{pers.home_address}}{%endif%}
                {% endfor %}
                </td>
                <td>
                {%for pers in person_list%}
                  {% if pers.user.username == obj.username %}{{pers.telephone_number}}{%endif%}
                {% endfor %}
                </td>
                <td>
                {%for pers in person_list%}
                  {% if pers.user.username == obj.username %}{{pers.delivery_adress}}{%endif%}
                {% endfor %}
                </td>
                <td>
                {%for ord in order_list%}
                    {% if ord.cart.customer.username == obj.username %}{{ord.status}}{%endif%}
                {% endfor %}
                </td>
                <td>
                {%for ord in order_list%}
                    {% if ord.cart.customer.username == obj.username %}<a href="{% url 'orders:order-update' pk=ord.pk %}" > {{ord}}</a> {%endif%}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
            
        </table>
      </div>
    </div>
  </div> 
</div>

{% endblock BODY %}