{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block TITLE %}Books list{% endblock TITLE %}
{% block BODY %}


{{object_list}}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Books List</h1>
        <p class="lead text-body-secondary">Список книг для просмотра, добавления, редактирования и удаления</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
<br>

<div class="container text-left" style="width: 30%;">
  <div>
    <H1>Сreate a new book entry</H1>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form|crispy}}
      {% comment %} {{form.as_p}} {% endcomment %}
      <button type="send" class="btn btn-success">Send</button>
      <a href='/books/books-list' class="btn btn-danger">Cancel</a>
  </div>
</div>

{% endblock BODY %}